
assess_generators/ckpt/**/*
assess_generators/data/*

# assess_generators/results/**/*.png
# assess_generators/results/competitor_pvalue_dict.pkl
# assess_generators/results/competitor_score_dict.pkl

assess_generators/denoising-diffusion-pytorch/**/*



multimodal_inference/data/**/*


words_importance/data/*.csv
words_importance/data/*.pkl
words_importance/data/*.pt


words_importance/ckpt/ckpt_distilbert_att/*

**/__pycache__/**/*
**/*.pyc



